* {
    box-sizing: border-box;
}
body{
    /*background-color: #e6eef3;*/
    font-family: 'Quicksand', serif;
    color: rgb(232, 250, 255);
    margin: 0%;
    font-size: 1vw;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;}
.bg{
    background-color: #000000ba !important;
    padding: 2%;

}
.heading{
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 3vw;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: 4.5px;
}
.slogan{
    text-align: right;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.5px;
}
.login{
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #c7486c;
    font-weight: 900;
    padding: 10px !important;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-20 {
    width: 20%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.nopadding {
    padding: 0 !important;
}

.paddingTop15 {
    padding-top: 15px !important;
}

.paddingTop10only {
    padding: 10px 0px 0px 0px !important;
}
.margintop10percent{
    margin: 10% 0%;
}
.paddingTop10onlyContact {
    padding: 10px 0px 0px 0px !important;
}
.paddingTop15percent{
    padding-top: 15%;
}
.padding5 {
    padding: 5px !important;
}
.padding2px{
    padding:2px !important;
}
.padding10 {
    padding: 10px;
}
.highlights{
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 2%;
    text-align: center;
    padding: 0% 20%;
    font-size: 2vw;
}
.white_gradient_border_inner{
    background: rgb(3,0,70);
    background: linear-gradient(90deg, rgba(3,0,70,1) 0%, rgba(0,61,97,1) 53%, rgba(57,0,69,1) 100%);
}
.white_gradient_border{
    background-color: rgba(255,255,255,100%);
    border-radius: 2.5px;
    padding-top: 5% !important;
    padding-bottom: 0px !important;
}
.white_gradient_border_inner{
    border-radius:3px;
}
.overflow_x_scroll{
    overflow-y: overlay;
    overflow-x: scroll;
    min-height: 500px;
}
.home_movies{
    /*min-width: 300px !important;*/
    /* max-width: 400px; */
    /* max-height: 400px; */
    /*min-height: 300px;*/
    /* padding: 10px;
    margin: 10px; */
    margin: 5px;
    align-self: center;
}
.relative_{
    position: relative;
}
.fixed_{
    position: absolute;
    float: left;
    /* left: 25%; */
    top: 0%;
    /* padding: 10%; */
    /* margin: 2%; */
    /* color: aliceblue; */
    width: 100%;
    background-color: #00171fe8;

}
.fixed_>div{
    
    
    
    overflow-y: scroll;
}
.flex_container  {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0% 20%;
    justify-content: space-evenly;
}
.flex_container > div {
    margin: 1px;
}
.head{
        /* font-family: 'Modak', serif; */
    /* font-size: 3vw; */
    /* background: rgb(3,0,70); */
    background-image: linear-gradient(90deg, rgb(214, 3, 110) 0%, rgb(21, 180, 228) 53%, rgb(255, 147, 13) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* width: fit-content; */
    /* margin: auto; */
    padding: 0% 5%;
    margin: 0% 20%;
    border-bottom: solid 1px #1e2c3a;
}
.search_{
    text-align: center;
}
.search_>input{
    padding: 0.7%;
    width: 100%;
    border-radius: 5px;
    color: #556273;
}
.filter_{
    text-align: center;
    position: relative;
}
.filter_>i{
    font-size: 2.5vw;
    position: absolute;
    float: left;
    left: 25%;
}
.filter_>span{
        /* display: flex; */
        float: left;
        top: 2px;
        left: 45%;
        background-color: rgb(57, 8, 253);
        padding: 5px 10px;
        border-radius: 50%;
        /* min-height: 20px; */
        position: absolute;
        /* width: 20px; */
        text-align: center;
}
.head_inner{
    text-align: center;
}
.back{
    padding: 10px;
    border-bottom: solid 1px #f9eedb;
}
.menu_outer{
    padding: 0% 25%;
}
.Menu{
    text-align: center;
}
.menu_inner{
    text-decoration: none;
    font-size: 2vw;
    color: #b3b0b0;
    font-family: 'Montez', serif;
}
.currentTabClass{
    color: #7ca7c1;
}
.menu_inner:hover{
    color: #7ca7c1;
}
.Name{
    color: rgb(4, 42, 154);
    font-size: 2.5vw;
    font-family: 'Montez', serif;
}
.title{
    color: #8e8e8e;
    font-size: 0.8vw;
    font-family: 'Quicksand', serif;
    padding: 0;
}
.mainDiv{
    padding: 0%;
}

.white_background{
    background-color: #fff;
}
.img_home{
    text-align: center;
}
.img_home > img{
    width: 200px;
    height: 200px;
    clip-path: circle();
    
}
.about_img{
    text-align: center;

}
.about_img > img{
    width: 250px;
    clip-path: circle();
    
}
.img_home > img:hover{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {clip-path: circle();}
    100% {clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);}
  }
  
  /* Standard syntax */
  @keyframes example {
    0% {clip-path: circle();}
    100% {clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);}
  }
.padding_horizontal20{
    padding: 5% 20%;
}
.flex_home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.contact_card{
    text-align: right;
    font-size:2vw;
    color: #8e8e8e;
}
.align-right{
    text-align: right;
}
.project_name{
    font-size:1vw;
    font-weight: 900;
    color: #8e8e8e;
}
.project_date{
    text-align: right;
    font-size:0.7vw;
    color: #8e8e8e;
}
.copyright{
    font-size: 0.5vw;
    color: #8e8e8e;
}
.contact_card>a{
    font-size: 1vw;
    color: #7ca7c1;
}
.welcome{
    font-size: 1.5vw;
    color: rgb(4, 42, 154);
    text-align: center;
    font-family: 'Montez', serif;
}
.project_div{
    border-bottom: solid 1px rgb(203, 220, 230);
    margin: 0% 10%;
}
.project_bullets{
    padding: 2px;
    font-size: 0.5vw;
    vertical-align: middle;
    color: rgb(124, 0, 150);
}
.project_points{
    color: rgb(4, 94, 148);
}
.cursor_pointer{
    cursor:pointer;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-container > div {
    margin: 10px;
    align-items: center;
    padding: 0px;
    align-content: center;
    max-width: 50%;
}
.skills{
    padding: 0% 25%;
    font-weight: 900;
    color:rgb(136, 19, 78);;
}
.paras{
    text-align: justify;
    color: #556273;
}
.header{
    background-image: url(images/header.jpeg);
    background-position: center;
    background-clip: border-box;
    height: 250px;
    width: 100%;
    background-size: cover;
    max-height: 250px;
}
.background_{
    background-image: url(images/pune/bg.jpeg);
    background-position: center;
    width: 100%;
    padding: 8% 2%;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.heading_travel{
    font-size: 3vw;
    color: rgb(4, 42, 154);
    font-family: 'Montez', serif;
    background-color: #ffffffe0;
}
.paras_travel{
    font-size: 1.2vw;
    color: rgba(0,61,97,1);
    font-family: 'Quicksand', serif;
    background-color: #ffffffe0;
}
.intro_travel{
    font-size: 1.2vw;
    color: rgba(0,61,97,1);
    font-family: 'Quicksand', serif;
    background-color: #ffffffe0;
}
.paras_img>img{
    width:100%;
}
.flex_display{
    display: flex;
    align-items: center;
}
.images_travel{
    overflow-x: scroll;
    background-color: #ffffffe0;
    display: flex;
    white-space: nowrap;
}
.images_travel>img{
    width: 100%;
    max-height: 400px;
}
.slider{
    font-size: 3vw;
    vertical-align: middle;
    color: #7ca7c1;
}

.home_img{
    text-align: center;
    font-size: 4vw;
    height: fit-content;
}
.home_img>img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.home_desc{
    font-size: 1.2vw;
    text-align: center;
    color: rgb(149, 166, 214);
    font-weight: 900;
    background-color: blueviolet;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.home_img:hover .home_desc {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    background-color: rgb(3,0,70);
    padding: 10px;
  }
  
  .flip-card-front {
    background-color: rgb(238, 227, 255);
    color: rgb(124, 0, 150);
    padding-top: 28%;
    padding-bottom: 28%;
  }
  
  .flip-card-back {
    background-color: rgb(126, 53, 150);
    color: white;
    transform: rotateY(180deg);
  }

  .home_desc .flip-card-back {
    font-size: 1vw;
    padding-top: 28%;
    padding-bottom: 28%;
  }
.flex_display_home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.travel_header>img{
    width: 100%;
}
@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }
    .home_img>img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .home_desc .flip-card-back {
        font-size: 1.2vw;
      }
    .about_img > img {
        width: 100px;
        clip-path: circle();
    }
    .project_div {
        border-bottom: solid 1px rgb(203, 220, 230);
        margin: 0% 2%;
    }
    .project_bullets {
        padding: 2px;
        font-size: 1.5vw;
    }
    .skills {
        padding: 0% 22%;
        font-weight: 900;
        color: rgb(136, 19, 78);
    }
    .flex-container > div {
        margin: 5px;
    }
    .padding10 {
        padding: 5px;
    }
    .images_travel>img {
        width: 100%;
        max-height: 200px;
    }
    .padding_horizontal20 {
        padding: 0% 10%;
    }
    body{
        margin:0;
        font-size: 2vw;
    }
    .head {
        font-family: 'Modak', serif;
        font-size: 3vw;
        padding: 0% 5%;
    }
    .menu_inner {
        font-size: 2.5vw;
    }
    .welcome {
        font-size: 2.5vw;
    }
    .flex_display {
        display: block !important;
        align-items: center;
    }
    .home_img{
        text-align: center !important;
    }
    .home_desc {
        font-size: 2vw;
        text-align: center;
    }
    .contact_card>a {
        font-size: 1.5vw;
        padding: 0% 1.5%;
    }
    .copyright {
        font-size: 2vw;
    }
    .heading_travel {
        font-size: 3.5vw;
    }
    .intro_travel {
        font-size: 2vw;
    }
    .paras_img{
        padding: 10%;
    }
    .paras_travel {
        font-size: 2vw;
    }
    .Name {
        font-size: 3vw;
    }
    .title {
        font-size: 1.5vw;
    }
    .About {
        font-size: 2vw;
    }
    .project_name {
        font-size: 2vw;
    }
    .project_date {
        font-size: 1.5vw;
        padding: 0px !important;
    }
    .slider{
        display: none;
    }
    .white_gradient_border {
        background-color: transparent;
    }
}
@media only screen and (max-width: 640px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }
    .home_img>img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .home_desc .flip-card-back {
        font-size: 1.4vw;
      }
    .about_img > img {
        width: 100px;
        clip-path: circle();
    }
    .project_div {
        border-bottom: solid 1px rgb(203, 220, 230);
        margin: 0% 2%;
    }
    .project_bullets {
        padding: 2px;
        font-size: 2.5vw;
    }
    .skills {
        padding: 0% 22%;
        font-weight: 900;
        color: rgb(136, 19, 78);
    }
    .flex-container > div {
        margin: 5px;
    }
    .padding10 {
        padding: 5px;
    }
    .images_travel>img {
        width: 100%;
        max-height: 200px;
    }
    .padding_horizontal20 {
        padding: 0% 10%;
    }
    body{
        margin:0;
        font-size: 3.2vw;
    }
    .head {
        font-family: 'Modak', serif;
        font-size: 5vw;
        padding: 0% 5%;
    }
    .menu_inner {
        font-size: 4vw;
    }
    .welcome {
        font-size: 4vw;
    }
    .flex_display {
        display: block !important;
        align-items: center;
    }
    .home_img{
        text-align: center !important;
    }
    .home_desc {
        font-size: 3.2vw;
        text-align: center;
    }
    .contact_card>a {
        font-size: 3vw;
        padding: 0% 1.5%;
    }
    .copyright {
        font-size: 1.5vw;
    }
    .heading_travel {
        font-size: 5.5vw;
    }
    .intro_travel {
        font-size: 3.2vw;
    }
    .paras_img{
        padding: 10%;
    }
    .paras_travel {
        font-size: 3.2vw;
    }
    .Name {
        font-size: 4.5vw;
    }
    .title {
        font-size: 2.8vw;
    }
    .About {
        font-size: 3.2vw;
    }
    .project_name {
        font-size: 3vw;
    }
    .project_date {
        font-size: 2.2vw;
        padding: 5px !important;
    }
    .slider{
        display: none;
    }
    .white_gradient_border {
        background-color: transparent;
    }
}
@media only screen and (max-width: 360px){
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }
    .home_img>img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .home_desc .flip-card-back {
        font-size: 1.6vw;
      }
    .about_img > img {
        width: 80px;
        clip-path: circle();
    }
    .skills {
        padding: 0% 20%;
        font-weight: 900;
        color: rgb(136, 19, 78);
    }
    .flex-container > div {
        margin: 2px;
    }
    .padding10 {
        padding: 2px;
    }
    .slider {
        font-size: 3vw;
        vertical-align: middle;
        color: #7ca7c1;
        width: 10% !important;
    }
    .images_travel>img {
        width: 100%;
        max-height: 100px;
    }
    .padding_horizontal20 {
        padding: 0% 5%;
    }
    .mainDiv {
        padding: 0%;
    }
    .project_div {
        border-bottom: solid 1px rgb(203, 220, 230);
        margin: 0% 2%;
    }
    .project_bullets {
        padding: 2px;
        font-size: 2.5vw;
    }
    .white_gradient_border {
        background-color: transparent;
    }
    body{
        margin:0;
        font-size: 3.2vw;
    }
    .head {
        font-family: 'Modak', serif;
        font-size: 5vw;
        padding: 0% 5%;
    }
    .menu_inner {
        font-size: 4vw;
    }
    .welcome {
        font-size: 4vw;
    }
    .flex_display {
        display: block !important;
        align-items: center;
    }
    .home_img{
        text-align: center !important;
    }
    .home_desc {
        font-size: 3.2vw;
        text-align: center;
    }
    .contact_card>a {
        font-size: 3vw;
        padding: 0% 1.5%;
    }
    .copyright {
        font-size: 1.5vw;
    }
    .heading_travel {
        font-size: 5.5vw;
    }
    .intro_travel {
        font-size: 3.2vw;
    }
    .paras_img{
        padding: 10%;
    }
    .paras_travel {
        font-size: 3.2vw;
    }
    .Name {
        font-size: 4.5vw;
    }
    .title {
        font-size: 2.8vw;
    }
    .About {
        font-size: 3.2vw;
    }
    .project_name {
        font-size: 3vw;
    }
    .project_date {
        font-size: 2.2vw;
        padding: 5px !important;
    }
    .slider{
        display: none;
    }

}

div.gallery {
    /*margin: 5px; */
   
    /* float: left; */
    /* max-width: 90%;
    min-width: 100px;
    max-height: 700px; */
    text-align: center;
  }
  
  div.gallery:hover {
    border-bottom: 1px solid rgb(214, 3, 110);

  }
  
  div.gallery img {
    width: 60%;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 900;
    color: rgb(249, 228, 238);
  }
  div.galleryDestailed {
    /*margin: 5px; */
   
    /* float: left; */
    /* max-width: 90%;
    min-width: 100px;
    max-height: 700px; */
    text-align: center;
  }
  div.galleryDestailed img{
    width: 40%;
    height: 500px;
  }
  .detailedTitle{
      text-align: center;
      font-size: 2vw;
      font-weight: 900;
  }
  .detailedYear{
    display: inline;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 900;
  }