* {
    box-sizing: border-box;
}
body{
    /*background-color: #e6eef3;*/
    font-family: 'Quicksand', serif;
    color: rgb(232, 250, 255);
    margin: 0%;
    font-size: 1vw;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;}
.bg{
    background-color: #000000ba !important;
    padding: 2%;

}
.heading{
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 3vw;
    font-weight: 400;
    line-height: 85%;
    letter-spacing: 4.5px;
}
.slogan{
    text-align: right;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.5px;
}
.login{
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #c7486c;
    font-weight: 900;
    padding: 10px !important;
}
.col-1 {
    width: 8.33%;
}
.col_1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}
.norespcol_2{
    width: 16.66%;
}
.col-20 {
    width: 20%;
}

.col-3 {
    width: 25%;
}
.norespcol_3{
    width: 25%;
}
.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}
.norespcol_7{
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}
.col_11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

[class*="col-"],[class*="col_"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
input {
    padding: 2%;
    width: 100%;
    border-radius: 5px;
    color: #556273;
    border: none;
}
.input_label{
    font-size: 1.3vw;
    font-weight: 900;
}
.input_padding{
    padding: 10px;
}
.margin_{
    margin:2% !important;
}
.nopadding {
    padding: 0 !important;
}

.paddingTop15 {
    padding-top: 15px !important;
}

.paddingTop10only {
    padding: 10px 0px 0px 0px !important;
}
.margintop10percent{
    margin: 10% 0%;
}
.paddingTop10onlyContact {
    padding: 10px 0px 0px 0px !important;
}
.paddingTop15percent{
    padding-top: 15%;
}
.padding5 {
    padding: 5px !important;
}
.padding2px{
    padding:2px !important;
}
.padding10 {
    padding: 10px;
}
.paddingbottom30per{
    padding-bottom: 30% !important;
}
.margintop10per{
    margin-top: 10% !important;
}
.highlights{
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 2%;
    text-align: center;
    padding: 0% 20%;
    font-size: 2vw;
}
.white_gradient_border_inner{
    background: rgb(3,0,70);
    background: linear-gradient(90deg, rgba(3,0,70,1) 0%, rgba(0,61,97,1) 53%, rgba(57,0,69,1) 100%);
}
.white_gradient_border{
    background-color: rgba(255,255,255,100%);
    border-radius: 2.5px;
    padding-top: 5% !important;
    padding-bottom: 0px !important;
}
.white_gradient_border_inner{
    border-radius:3px;
}
.overflow_x_scroll{
    overflow-y: overlay;
    overflow-x: scroll;
    min-height: 500px;
}
.home_movies{
    /*min-width: 300px !important;*/
    /* max-width: 400px; */
    /* max-height: 400px; */
    /*min-height: 300px;*/
    /* padding: 10px;
    margin: 10px; */
    margin: 5px;
    align-self: center;
}
.relative_{
    position: relative;
}
.fixed_{
    position: absolute;
    float: left;
    /* left: 25%; */
    top: 0%;
    /* padding: 10%; */
    /* margin: 2%; */
    color: rgb(1, 120, 156);
    width: 100%;
    background-color: #fffffffa;


}
.logout{
    float: right;
    color: rgb(214, 3, 110);
    font-size: 2vw;
    font-weight: 900
}
.fixed_ .row [class*='col-'] .login{
    color: #fff !important;
}
.filters_{
    background-color: #121a2394;
    padding: 5px;
    border-radius: 5px;
}
.fixed_>div{  
    overflow-y: scroll;
}
.flex_container  {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0% 20%;
    justify-content: space-evenly;
    align-content: center;
}
.flex_container > div {
    margin: 1px;
    align-self: center;
}
.head{
        /* font-family: 'Modak', serif; */
    /* font-size: 3vw; */
    /* background: rgb(3,0,70); */
    background-image: linear-gradient(90deg, rgb(214, 3, 110) 0%, rgb(21, 180, 228) 53%, rgb(255, 147, 13) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* width: fit-content; */
    /* margin: auto; */
    padding: 0% 5%;
    margin: 0% 20%;
    border-bottom: solid 1px #1e2c3a;
}
.search_{
    text-align: center;
}
.search_>input{
    padding: 0.7%;
    width: 100%;
    border-radius: 5px;
    color: #556273;
}
.filter_{
    text-align: center;
    position: relative;
}
.filter_>i{
    font-size: 2.5vw;
    position: absolute;
    float: left;
    left: 25%;
}
.filter_>span{
        /* display: flex; */
        float: left;
        top: 2px;
        left: 45%;
        background-color: rgb(57, 8, 253);
        padding: 5px 10px;
        border-radius: 50%;
        /* min-height: 20px; */
        position: absolute;
        /* width: 20px; */
        text-align: center;
}
.head_inner{
    text-align: center;
}
.back{
    padding: 10px;
    border-bottom: solid 1px #f9eedb;
}
.back_norm{
    padding: 10px;
    border-bottom: solid 0.5px #ffa200a1;
}

.mainDiv{
    padding: 0%;
}

.white_background{
    background-color: #fff;
}
.img_home{
    text-align: center;
}
.img_home > img{
    width: 200px;
    height: 200px;
    clip-path: circle();
    
}


.padding_horizontal20{
    padding: 5% 20%;
}
.flex_home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.bold_text{
    font-weight: 900;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}

.cursor_pointer{
    cursor:pointer;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-container > div {
    margin: 10px;
    align-items: center;
    padding: 0px;
    align-content: center;
    max-width: 50%;
    align-self: center;
}

.flex_display{
    display: flex;
    align-items: center;
}

.flex_display_home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.gallery {
    /*margin: 5px; */
   
    /* float: left; */
    /* max-width: 90%;
    min-width: 100px;
    max-height: 700px; */
    text-align: center;
  }
  
  div.gallery:hover {
    border-bottom: 1px solid rgb(214, 3, 110);

  }
  
  div.gallery img {
    width: 60%;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 900;
    color: rgb(249, 228, 238);
  }
  div.galleryDestailed {
    /*margin: 5px; */
   
    /* float: left; */
    /* max-width: 90%;
    min-width: 100px;
    max-height: 700px; */
    text-align: center;
  }
  div.galleryDestailed img{
    width: 30%;
    height: 400px;
  }
  .detailedTitle{
      text-align: center;
      font-size: 1.5vw;
      font-weight: 900;
  }
  .detailedYear{
    display: inline;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 900;
  }
@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }
    
    .flex-container > div {
        margin: 5px;
    }
    .padding10 {
        padding: 5px;
    }
    
    body{
        margin:0;
        font-size: 2vw;
    }
    .head {
        font-size: 3vw;
        padding: 0% 5%;
    }
    
    .flex_display {
        display: block !important;
        align-items: center;
    }
    
}
@media only screen and (max-width: 640px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }
    
    .flex-container > div {
        margin: 5px;
    }
    .padding10 {
        padding: 5px;
    }
    
    body{
        margin:0;
        font-size: 3.2vw;
    }
    .head {
        font-size: 5vw;
        padding: 0% 5%;
    }
    
    .flex_display {
        display: block !important;
        align-items: center;
    }
    
}
@media only screen and (max-width: 360px){
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }
    
    .flex-container > div {
        margin: 2px;
    }
    .padding10 {
        padding: 2px;
    }
    
    .mainDiv {
        padding: 0%;
    }
    
    body{
        margin:0;
        font-size: 3.2vw;
    }
    .head {
        font-size: 5vw;
        padding: 0% 5%;
    }
    
    .flex_display {
        display: block !important;
        align-items: center;
    }
    

}
