<div class="mainDiv">
<div class="relative_">
    <div class="fixed_" ng-hide="showDescription" >
        <div class="row">
            <div class="col-12" ng-click="close_screen()">Close</div>
            <div >
                Vdeo
            </div>
            
        </div>
    </div>
    <div ng-if="bookedMovie!=null">
        Sucess!
    Enjoy streaming {{bookedMovie.title}} at {{bookedMovie.time}}
    </div>
    <div class="back_norm">
    Your Watchlist:
    </div>
    <div class="flex_home  " >
        <div class="home_movies cursor_pointer" ng-repeat="movie in movies " ng-click="open_screen(movie)">
           
            <img src="{{movie.Poster}}" width="600" height="400">
                        {{movie.title}} <br>
                        2:30pm 1st April <br>
                        {{movie.duration}} 
                    
               
            
        </div>
        
        
    </div>
</div>
</div>