<div class="mainDiv" ng-show="!isNew">
    
    <div ng-click="goBack('home')">back</div>
    
    <div class="row">
        <div class="col-4">Username:</div>
        <div class="col-8"><input placeholder="Enter Username" ng-model="user_name"/></div>

    </div>
    <div class="row">
        <div class="col-4">Password:</div>
        <div class="col-8"><input  type="password" placeholder="Enter Password" ng-model="password"/></div>

    </div>
    
    <div class="row">
        <div class="col-12" ng-click="login()">Login</div>
        

    </div>
    <div class="row">
        <div class="col-12" ng-click="toggleRegister()">Don't have an account? Sign up here!</div>
        

    </div>
</div>

<div class="mainDiv" ng-show="isNew">
    
    <div ng-click="toggleRegister()">back</div>
    <div class="row">
        <div class="col-4">Username:</div>
        <div class="col-8"><input placeholder="Enter Username" ng-model="user_name"/></div>

    </div>
    <div class="row">
        <div class="col-4">Password:</div>
        <div class="col-8"><input  type="password" placeholder="Enter Password" ng-model="password"/></div>

    </div>
    <div class="row">
        <div class="col-4">Confirm Password:</div>
        <div class="col-8"><input  type="password" placeholder="Re-Enter Password" ng-model="password"/></div>

    </div>
    <div class="row">
        <div class="col-4">Name:</div>
        <div class="col-8"><input placeholder="Enter Full name" ng-model="customer_name"/></div>

    </div>

    <div class="row">
        <div class="col-4">Billing Address:</div>
        <div class="col-8"><input placeholder="Enter billing Address" ng-model="customer_address"/></div>

    </div>
    <div class="row">
        <div class="col-4">Pincode:</div>
        <div class="col-8"><input placeholder="Enter pincode" ng-model="customer_pincode"/></div>

    </div>
    <div class="row">
        <div class="col-4">Card Number:</div>
        <div class="col-8"><input placeholder="Enter debit card number" ng-model="customer_card"/></div>

    </div>
    
    <div class="row">
        <div class="col-4">Expiry Date:</div>
        <div class="col-8"><input type="date" placeholder="Enter expiry date" ng-model="customer_exp_date"/></div>

    </div>
    <div class="row">
        <div class="col-12" ng-click="register()">Register</div>
        

    </div>
</div>