<div class="mainDiv">
    
    <div ng-click="goBack('home')">back</div>
    
    <div class="row">
        <div class="col-4">Username:</div>
        <div class="col-8"><input placeholder="Enter Username" ng-model="user_name"/></div>

    </div>
    <div class="row">
        <div class="col-4">Password:</div>
        <div class="col-8"><input  type="password" placeholder="Enter Password" ng-model="password"/></div>

    </div>
    
    <div class="row">
        <div class="col-12" ng-click="login()">Login</div>
        

    </div>
</div>