<div class="mainDiv">
    
    <div ng-click="goBack(prevPage)" class="back_norm cursor_pointer">< Back</div>
    <div class="row">
        <div class=" col-12 align-center bold_text page_header nopadding">Booking Confirmation</div>
        <div class="col-12 detailedTitle nopadding">{{selectedMovie.Title}}<div class="detailedYear">&nbsp;({{selectedMovie.Year}})</div></div>
        
        
    </div>
    <div class="row">
        
        <div class="col-12 galleryDetailed align-center nopadding">
            
            <p><b>Time: </b>{{selectedMovie.Runtime}}</p>
            <p><b>Date of VT Screening: </b>2:30pm 1st April </p>
        </div>
    </div>
    <div class="padding_horizontal20">
        
    <div class="row">
        <div class="col-6 align-right input_label">Name:</div>
        <div class="col-6 input_padding"><input placeholder="Enter Full name" ng-model="customer_name"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right input_label">Billing Address:</div>
        <div class="col-6 input_padding"><input placeholder="Enter billing Address" ng-model="customer_address"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right input_label">Pincode:</div>
        <div class="col-6 input_padding"><input placeholder="Enter pincode" ng-model="customer_pincode"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right input_label">Card Number:</div>
        <div class="col-6 input_padding"><input placeholder="Enter debit card number" ng-model="customer_card"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right input_label">CVV:</div>
        <div class="col-6 input_padding"><input placeholder="Enter CVV" ng-model="customer_cvv"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right input_label">Expiry Date:</div>
        <div class="col-6 input_padding"><input type="date" placeholder="Enter expiry date" ng-model="customer_exp_date"/></div>

    </div>
</div>
    <div class="row">
        <div class="col-12">
            <div class="input_padding margin_ cursor_pointer login margintop10per" ng-click="gotoPage('screen',selectedMovie)">Book

            </div>
        </div>

    </div>
</div>