<div class="mainDiv">
    
    <div ng-click="goBack(prevPage)" class="back">< Back</div>
    <div class="row">
        <div class="col-12 detailedTitle">{{selectedMovie.Title}}<div class="detailedYear">&nbsp;({{selectedMovie.Year}})</div></div>
        
        <div class="galleryDestailed">
           
            <div class="desc">
                 
                2:30pm 1st April 
            </div>
        </div>
    </div>
    <div class="padding_horizontal20">
    
    <div class="row">
        <div class="col-6 align-right">Name:</div>
        <div class="col-6"><input placeholder="Enter Full name" ng-model="customer_name"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right">Billing Address:</div>
        <div class="col-6"><input placeholder="Enter billing Address" ng-model="customer_address"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right">Pincode:</div>
        <div class="col-6"><input placeholder="Enter pincode" ng-model="customer_pincode"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right">Card Number:</div>
        <div class="col-6"><input placeholder="Enter debit card number" ng-model="customer_card"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right">CVV:</div>
        <div class="col-6"><input placeholder="Enter CVV" ng-model="customer_cvv"/></div>

    </div>
    <div class="row">
        <div class="col-6 align-right">Expiry Date:</div>
        <div class="col-6"><input type="date" placeholder="Enter expiry date" ng-model="customer_exp_date"/></div>

    </div>
</div>
    <div class="row">
        <div class="col-12 cursor_pointer login" ng-click="gotoPage('PaymentConfirmation',selectedMovie)">Book</div>
        

    </div>
</div>