<div class="maniDiv">
    <div class="relative_">

        <div class="fixed_" ng-hide="showDescription">
            <div class="row">
                <div class="col-12 cursor_pointer" ng-click="close_description()">X Close</div>
            </div>
            <div class="row">
                <div class="col-12 detailedTitle">{{detailedDesc.Title}}<div class="detailedYear">&nbsp;({{detailedDesc.Year}})</div></div>
                
                <div class="galleryDestailed">
                    <img src="{{detailedDesc.Poster}}" width="600" height="400">
                    
                    <div class="desc">
                         
                        2:30pm 1st April 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><b>{{detailedDesc.Plot}}</b></p>
                    <p><b>Time: </b>{{detailedDesc.Runtime}}</p>
                    <p><b>Genre: </b>{{detailedDesc.Genre}}</p>
                    <p><b>Actors: </b>{{detailedDesc.Actors}}</p>
                    <p><b>imdbRating: </b>{{detailedDesc.imdbRating}} / 10</p>
                    <div class=" margin_ cursor_pointer login" id="log" ng-click="checkLogin('MovieBook',detailedDesc,'home')">Book</div>
                    <div class="align-center">{{err}}</div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col_11 search_"><input type="text" ng-model="searchText" placeholder="Search a movie"></input></div>
        <div class="col_1 filter_ cursor_pointer" ng-click="showFilters()">
            <i class="material-icons">reorder</i>
            <span ng-if="filters_applied>0">{{filters_applied}}</span>
        </div>
    </div>
    
    <div class="row filters_" ng-hide="closeFilters">
        <div class="col-12 nopadding">
            <div class="align-center bold_text flex_container cursor_pointer" ng-click="showLangFilter=!showLangFilter">
                <div class="margin_">Filter by Language ></div>
            </div>
            <div class="flex_container" ng-show="showLangFilter">
                <div ng-repeat="lang in languages">
                    <input type="checkbox" name="lang" value="{{lang}}" ng-model="lang.isChecked"
                        ng-change="selectLang(lang.name)">{{lang.name}}</input>
                </div>
            </div>
            <div class="align-center bold_text flex_container cursor_pointer" ng-click="showGenreFilter=!showGenreFilter">
            <div>Filter by Genre ></div>
        </div>
            <div class="flex_container" ng-show="showGenreFilter">
                <div class="margin_" ng-repeat="genre in genres">
                    <input type="checkbox" name="genre" value="{{genre}}" ng-model="genre.isChecked"
                        ng-change="selectGenre(genre.name)">{{genre.name}}</input></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 highlights">
            Batman Marathon! This Week!!
        </div>
    </div>
    <div class="flex_home  ">
        <div class="home_movies cursor_pointer"
            ng-repeat="movie in movies | filter:searchText | filter:checkedFilter |filter:checkedGenreFilter"
            ng-click="open_description(movie)">

            <div class="gallery">
                <img src="{{movie.Poster}}" width="600" height="400">
                
                <div class="desc">
                    {{movie.Title}} <br>
                    {{movie.Year}} <br>
                </div>
            </div>




        </div>


    </div>

</div>
</div>
</div>